h1 {
  font-size: 140px;
  margin: 0.5em auto;
  text-align: center; }
  h1 a {
    display: inline-block; }

header a,
header div.orbit {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

div.orbit.orbit-1 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -6.8s;
  -moz-animation-delay: -6.8s;
  animation-delay: -6.8s;
  position: absolute;
  top: 58.4%;
  left: -26.725%;
  width: 153.45%; }
  div.orbit.orbit-1:after {
    -webkit-animation-delay: -6.8s;
    -moz-animation-delay: -6.8s;
    animation-delay: -6.8s;
    height: 0.024em;
    width: 0.024em; }
div.orbit.orbit-2 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -0.3s;
  -moz-animation-delay: -0.3s;
  animation-delay: -0.3s;
  position: absolute;
  top: 87.8%;
  left: -15.1%;
  width: 130.2%; }
  div.orbit.orbit-2:after {
    -webkit-animation-delay: -0.3s;
    -moz-animation-delay: -0.3s;
    animation-delay: -0.3s;
    height: 0.048em;
    width: 0.048em; }
div.orbit.orbit-3 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -2.3s;
  -moz-animation-delay: -2.3s;
  animation-delay: -2.3s;
  position: absolute;
  top: 47.2%;
  left: -27.5%;
  width: 155%; }
  div.orbit.orbit-3:after {
    -webkit-animation-delay: -2.3s;
    -moz-animation-delay: -2.3s;
    animation-delay: -2.3s;
    height: 0.072em;
    width: 0.072em; }
div.orbit.orbit-4 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -3.6s;
  -moz-animation-delay: -3.6s;
  animation-delay: -3.6s;
  position: absolute;
  top: 40.2%;
  left: -26.725%;
  width: 153.45%; }
  div.orbit.orbit-4:after {
    -webkit-animation-delay: -3.6s;
    -moz-animation-delay: -3.6s;
    animation-delay: -3.6s;
    height: 0.03em;
    width: 0.03em; }
div.orbit.orbit-5 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -7.2s;
  -moz-animation-delay: -7.2s;
  animation-delay: -7.2s;
  position: absolute;
  top: 17.8%;
  left: -18.975%;
  width: 137.95%; }
  div.orbit.orbit-5:after {
    -webkit-animation-delay: -7.2s;
    -moz-animation-delay: -7.2s;
    animation-delay: -7.2s;
    height: 0.036em;
    width: 0.036em; }
div.orbit.orbit-6 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -1.7s;
  -moz-animation-delay: -1.7s;
  animation-delay: -1.7s;
  position: absolute;
  top: 13.6%;
  left: -16.65%;
  width: 133.3%; }
  div.orbit.orbit-6:after {
    -webkit-animation-delay: -1.7s;
    -moz-animation-delay: -1.7s;
    animation-delay: -1.7s;
    height: 0.072em;
    width: 0.072em; }
div.orbit.orbit-7 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -5.6s;
  -moz-animation-delay: -5.6s;
  animation-delay: -5.6s;
  position: absolute;
  top: -0.4%;
  left: -3.475%;
  width: 106.95%; }
  div.orbit.orbit-7:after {
    -webkit-animation-delay: -5.6s;
    -moz-animation-delay: -5.6s;
    animation-delay: -5.6s;
    height: 0.03em;
    width: 0.03em; }
div.orbit.orbit-8 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -5s;
  -moz-animation-delay: -5s;
  animation-delay: -5s;
  position: absolute;
  top: -14.4%;
  left: 19.775%;
  width: 60.45%; }
  div.orbit.orbit-8:after {
    -webkit-animation-delay: -5s;
    -moz-animation-delay: -5s;
    animation-delay: -5s;
    height: 0.036em;
    width: 0.036em; }
div.orbit.orbit-9 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -3.4s;
  -moz-animation-delay: -3.4s;
  animation-delay: -3.4s;
  position: absolute;
  top: 8%;
  left: -12%;
  width: 124%; }
  div.orbit.orbit-9:after {
    -webkit-animation-delay: -3.4s;
    -moz-animation-delay: -3.4s;
    animation-delay: -3.4s;
    height: 0.072em;
    width: 0.072em; }
div.orbit.orbit-10 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -8.2s;
  -moz-animation-delay: -8.2s;
  animation-delay: -8.2s;
  position: absolute;
  top: 36%;
  left: -25.95%;
  width: 151.9%; }
  div.orbit.orbit-10:after {
    -webkit-animation-delay: -8.2s;
    -moz-animation-delay: -8.2s;
    animation-delay: -8.2s;
    height: 0.054em;
    width: 0.054em; }
div.orbit.orbit-11 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -2.2s;
  -moz-animation-delay: -2.2s;
  animation-delay: -2.2s;
  position: absolute;
  top: 96.2%;
  left: -8.125%;
  width: 116.25%; }
  div.orbit.orbit-11:after {
    -webkit-animation-delay: -2.2s;
    -moz-animation-delay: -2.2s;
    animation-delay: -2.2s;
    height: 0.036em;
    width: 0.036em; }
div.orbit.orbit-12 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  animation-delay: -0.1s;
  position: absolute;
  top: 101.8%;
  left: -1.925%;
  width: 103.85%; }
  div.orbit.orbit-12:after {
    -webkit-animation-delay: -0.1s;
    -moz-animation-delay: -0.1s;
    animation-delay: -0.1s;
    height: 0.072em;
    width: 0.072em; }
div.orbit.orbit-13 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -8s;
  -moz-animation-delay: -8s;
  animation-delay: -8s;
  position: absolute;
  top: 3.8%;
  left: -8.9%;
  width: 117.8%; }
  div.orbit.orbit-13:after {
    -webkit-animation-delay: -8s;
    -moz-animation-delay: -8s;
    animation-delay: -8s;
    height: 0.036em;
    width: 0.036em; }
div.orbit.orbit-14 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -3.4s;
  -moz-animation-delay: -3.4s;
  animation-delay: -3.4s;
  position: absolute;
  top: 108.8%;
  left: 8.925%;
  width: 82.15%; }
  div.orbit.orbit-14:after {
    -webkit-animation-delay: -3.4s;
    -moz-animation-delay: -3.4s;
    animation-delay: -3.4s;
    height: 0.06em;
    width: 0.06em; }
div.orbit.orbit-15 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -0.6s;
  -moz-animation-delay: -0.6s;
  animation-delay: -0.6s;
  position: absolute;
  top: 99.0%;
  left: -5.025%;
  width: 110.05%; }
  div.orbit.orbit-15:after {
    -webkit-animation-delay: -0.6s;
    -moz-animation-delay: -0.6s;
    animation-delay: -0.6s;
    height: 0.048em;
    width: 0.048em; }
div.orbit.orbit-16 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -5s;
  -moz-animation-delay: -5s;
  animation-delay: -5s;
  position: absolute;
  top: -0.4%;
  left: -4.25%;
  width: 108.5%; }
  div.orbit.orbit-16:after {
    -webkit-animation-delay: -5s;
    -moz-animation-delay: -5s;
    animation-delay: -5s;
    height: 0.048em;
    width: 0.048em; }
div.orbit.orbit-17 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -9.6s;
  -moz-animation-delay: -9.6s;
  animation-delay: -9.6s;
  position: absolute;
  top: 90.6%;
  left: -13.55%;
  width: 127.1%; }
  div.orbit.orbit-17:after {
    -webkit-animation-delay: -9.6s;
    -moz-animation-delay: -9.6s;
    animation-delay: -9.6s;
    height: 0.066em;
    width: 0.066em; }
div.orbit.orbit-18 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -0.8s;
  -moz-animation-delay: -0.8s;
  animation-delay: -0.8s;
  position: absolute;
  top: -4.6%;
  left: 1.175%;
  width: 97.65%; }
  div.orbit.orbit-18:after {
    -webkit-animation-delay: -0.8s;
    -moz-animation-delay: -0.8s;
    animation-delay: -0.8s;
    height: 0.042em;
    width: 0.042em; }
div.orbit.orbit-19 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -3.2s;
  -moz-animation-delay: -3.2s;
  animation-delay: -3.2s;
  position: absolute;
  top: 71%;
  left: -24.4%;
  width: 148.8%; }
  div.orbit.orbit-19:after {
    -webkit-animation-delay: -3.2s;
    -moz-animation-delay: -3.2s;
    animation-delay: -3.2s;
    height: 0.03em;
    width: 0.03em; }
div.orbit.orbit-20 {
  -webkit-animation: orbit-rotate 10s linear infinite;
  -moz-animation: orbit-rotate 10s linear infinite;
  animation: orbit-rotate 10s linear infinite;
  -webkit-animation-delay: -9.7s;
  -moz-animation-delay: -9.7s;
  animation-delay: -9.7s;
  position: absolute;
  top: 22%;
  left: -21.3%;
  width: 142.6%; }
  div.orbit.orbit-20:after {
    -webkit-animation-delay: -9.7s;
    -moz-animation-delay: -9.7s;
    animation-delay: -9.7s;
    height: 0.048em;
    width: 0.048em; }

div.orbit:after {
  -webkit-animation: planet-rotate 10s linear infinite;
  -moz-animation: planet-rotate 10s linear infinite;
  animation: planet-rotate 10s linear infinite;
  background-color: #e95555;
  border-radius: 50%;
  content: '';
  display: block;
  pointer-events: none; }

@-webkit-keyframes orbit-rotate {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
@-moz-keyframes orbit-rotate {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
@keyframes orbit-rotate {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
@-webkit-keyframes planet-rotate {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    transform: rotateY(-360deg); } }
@-moz-keyframes planet-rotate {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    transform: rotateY(-360deg); } }
@keyframes planet-rotate {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    transform: rotateY(-360deg); } }
article {
  margin-bottom: 6em; }
  article:last-of-type {
    margin-bottom: 2em; }
  article h2 {
    font-size: 24px;
    text-align: center; }

aside.meta {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 3em;
  text-align: center; }
  aside.meta a {
    color: #707374; }

pre {
  padding: 0.5em;
  white-space: pre-wrap; }
  pre code {
    padding: 0; }

pre,
code {
  background: #e8ebec;
  border-radius: 2px;
  color: #3b3d3e;
  font-family: "source-code-pro";
  font-size: 14px; }

code {
  padding: .1em .3em; }

blockquote {
  background-color: #e8ebec;
  border-radius: 2px;
  color: #707374;
  padding: 0.5em;
  padding-left: 1em; }
  blockquote p {
    margin-bottom: 0; }

img {
  display: block;
  margin: 0 auto;
  max-width: 100%; }

footer {
  color: #707374;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14px;
  margin: 1em 0;
  text-align: center; }

header.image h1 {
  margin-bottom: 0.5em; }
header.image a .orbit {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #fbfbfb;
  color: #3b3d3e;
  font-family: "garamond-premier-pro-caption", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.4;
  padding: 0 2em; }

main {
  display: block;
  margin: 0 auto;
  max-width: 640px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1em; }

h1 {
  margin-bottom: 1em; }

a {
  -webkit-transition: color 0.1s ease;
  -moz-transition: color 0.1s ease;
  transition: color 0.1s ease;
  color: #e95555;
  text-decoration: none; }
  a:hover {
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #3b3d3e; }

ol,
ul {
  list-style-position: inside; }

blockquote,
ol,
p,
pre,
ul {
  margin-bottom: 1em; }

/*# sourceMappingURL=theme.css.map */
